    * {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    #background-centry {
        background: #1a0000;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #container-background {
        background-color: black;
        width: 270px;
        height: 500px;
        border-radius: 40px;
        margin-top: 5%;
        position: relative;
        left: 150px;
        z-index: 1;

    }

    .container-calc {
        position: relative;
        top: -150px;
        left: 380px;
        z-index: 2;
    }


    #input-calc {
        width: 200px;
        height: 30px;
        font-size: 25px;
        text-align: center;
    }

    #container-number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -310px;
        gap: 10px;
        z-index: 2;
    }

    #numbers-caracteres {
        display: flex;
        flex-direction: column;
        height: 285px;
        margin-top: 80px;
    }

    #button-division-five-four {
        display: flex;
        flex-direction: column;
        height: 285px;
        margin-top: 80px;

    }

    #buttons-multi-one-six {
        display: flex;
        flex-direction: column;
        height: 200px;

    }


    #buttons-more-tree-point-equal {
        display: flex;
        flex-direction: column;
        height: 200px;
    }

    #button-ac {
        padding: 20px;
        font-size: 15px;
        margin-bottom: 10px;
        border: none;
        border-radius: 15px;
        background-color: #C4C4C4;
    }

    #button-del {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        background-color: #C4C4C4;
    }

    #button-zero {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        background-color: #C4C4C4;
    }

    #button-eight {
        padding: 20px;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        border: none;
        background-color: #C4C4C4;
    }


    #button-division {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-bottom: 20px;
        border: none;
        background-color: #C4C4C4;

    }

    #button-five {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-bottom: 19px;
        border: none;
        background-color: #C4C4C4;
    }

    #button-two {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-bottom: 10px;
        border: none;
        background-color: #C4C4C4;
    }


    #button-four {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #C4C4C4;
    }

    #button-six {
        padding: 20px;
        font-size: 15px;
        border: none;
        margin-bottom: 9px;
        border-radius: 15px;
        background-color: #C4C4C4;
    }

    #button-subtract {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #C4C4C4;
    }

    #button-one {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 17px;
        background-color: #C4C4C4;
    }


    #button-multi {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        background-color: #C4C4C4;
    }


    #button-more {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 20px;
        background-color: #C4C4C4;
    }

    #button-tree {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 20px;
        background-color: #C4C4C4;
    }

    #button-nine {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 15px;
        background-color: #C4C4C4;
    }


    #button-seven {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 10px;
        background-color: #C4C4C4;
    }

    #equal {
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 10px;
        background-color: #C4C4C4;
        margin-top: 470px;
        position: relative;
        left: 220px;
        width: 200px;
        height: 80px;

    }




    @media(max-width: 853px) {



        #container-background {
            padding: 135px;
            height: 500px;
            border-radius: 40px;
            overflow-y: auto;


        }
    }



    @media(max-width: 932px) and (orientation: landscape) {


        #background-centry {
            height: 100%;


        }

        #container-background {
            padding: 137px;
        }




    }

    @media(max-width: 540px) {

        #container-number {
            margin-top: -5%;


        }

    }


    @media(max-width: 430px) {


        #container-background {
            margin-left: -13%;
        }

        #input-calc {
            margin-left: -26%;


        }


    }