    * {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    #background-centry {
        background: #1a0000;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #container-background {
        background-color: black;
        width: 270px;
        height: 500px;
        border-radius: 40px;
        margin-top: 5%;
        margin-left: 7%;

    }

    .container-calc {}


    #input-calc {
        width: 200px;
        height: 30px;
        text-align: center;
        font-size: 25px;
    }

    #container-number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -250px;
        gap: 10px;
    }

    #numbers-caracteres {
        display: flex;
        flex-direction: column;
        height: 285px;
        margin-top: 80px;
    }

    #button-division-five-four {
        display: flex;
        flex-direction: column;
        height: 285px;
        margin-top: 80px;
    }

    #buttons-multi-one-six {
        display: flex;
        flex-direction: column;
        height: 300px;
        margin-top: 95px;
    }

    #buttons-substract-one-two-tree {
        display: flex;
        flex-direction: column;
    }

    #buttons-more-tree-point-equal {
        display: flex;
        flex-direction: column;
        height: 300px;
        margin-top: 93px;
    }

    #button-ac {
        padding: 20px;
        font-size: 15px;
        margin-bottom: 10px;
        border: none;
        border-radius: 15px;
        background-color: #C4C4C4;
    }

    #button-del {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        background-color: #C4C4C4;
    }

    #button-zero {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        background-color: #C4C4C4;
    }

    #button-eight {
        padding: 20px;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        border: none;
        background-color: #C4C4C4;
    }


    #button-division {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-bottom: 20px;
        border: none;
        background-color: #C4C4C4;

    }

    #button-five {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-bottom: 19px;
        border: none;
        background-color: #C4C4C4;
    }

    #button-two {
        padding: 20px;
        font-size: 15px;
        border-radius: 15px;
        margin-bottom: 10px;
        border: none;
        background-color: #C4C4C4;
    }


    #button-four {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #C4C4C4;
    }

    #button-six {
        padding: 20px;
        font-size: 15px;
        border: none;
        margin-bottom: 9px;
        border-radius: 15px;
        background-color: #C4C4C4;
    }

    #button-subtract {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #C4C4C4;
    }

    #button-one {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 17px;
        background-color: #C4C4C4;
    }


    #button-multi {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        background-color: #C4C4C4;
    }


    #button-more {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 20px;
        background-color: #C4C4C4;
    }

    #button-tree {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 20px;
        background-color: #C4C4C4;
    }

    #point {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 15px;
        background-color: #C4C4C4;
    }


    #button-seven {
        padding: 20px;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 10px;
        background-color: #C4C4C4;
    }

    #equal {
        flex: 2;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        margin-bottom: 10px;
        background-color: #C4C4C4;
    }

    @media(min-width:360px) {

        body {
            width: 40vw;
        }

        .container-every {
            margin-left: 33%;


        }

        .container-calc {
            margin-top: 50%;

        }

    }

    @media(min-width:375px) {

        body {
            width: 40vw;
        }

        .container-calc {
            margin-top: 22%;
        }

    }


    @media(min-width:390px) {

        .container-calc {
            margin-top: 50%;
        }

    }

    @media(min-width:412px) {

        .container-calc {
            margin-top: 60%;

        }

        .container-every {

            margin-left: 45%;
        }

    }

    @media(min-width:414px) {

        .container-calc {
            margin-top: 60%;

        }


    }

    @media(min-width:430px) {


        .container-calc {
            margin-top: 55%;
        }

        .container-every {
            margin-left: 45%;


        }

    }

    @media(min-width:768px) {

        .container-every {
            margin-top: 60%;
            padding: 250px;
            margin-left: 50%;

        }

        .container-calc {
            margin-top: -200px;

        }






        .container-topo {}
    }